<div class="container">
        <form  class="form-group" [formGroup]='addProjectGroup' (submit)="AddNewProject()" >
            <div class="row">
                <div class="col-sm-4">
                  <label for="projectName">Project Name:</label>
                  <input  type="text" class="form-control" formControlName='ProjectName' [(ngModel)]="project.projectName" name="firstName"  required>
                  <div [hidden]="!(f.ProjectName.errors && f.ProjectName.touched)" >
                       
                        <small  class="text-danger"  > Field is Required ! Please fill in the same </small>
                </div>
                </div>
                <div class="col-sm-4">
                        <label for="EmployeeId">Manager:</label>
                        <input  type="text" class="form-control" formControlName='manager' [(ngModel)]="project.manager.userId" name="manager"  required>
                        <div [hidden]="!(f.manager.errors && f.manager.touched)" >
                                <small  class="text-danger"  > Field is Required ! Please fill in the same </small>
                        </div>
                      </div>
              
             
                </div>

                <br>

                <div class="row mb-2">
                        <div class="col-sm-4" >
                          <input type="checkbox" (change)="setStartEndDates()" [ngModelOptions]="{standalone: true}" [(ngModel)]="isChecked"/>Set Start and End Date
                       
                        </div>  
                         
                          <div class="col-sm-4">
                              Start Date:    <input type="date" placeholder="Start Date" [ngModelOptions]="{standalone: true}"  class="form-control" (ngModelChange)="project.startDate=$event" [disabled]="!isChecked" [ngModel]="project.startDate | date:'yyyy-MM-dd'" name="startDate" size="30"/>
                                          </div>
                          <div class="col-sm-4">
                               End Date :   <input type="date"   placeholder="End Date" [ngModelOptions]="{standalone: true}" class="form-control" [disabled]="!isChecked"  (ngModelChange)="project.endDate=$event" [ngModel]="project.endDate  | date:'yyyy-MM-dd'" name="endDate" size="30"/>
                            </div>
                        
                      </div>
                <br>
               
                 <div class="col-sm-6">
                        <label for="priority">Priority:</label>
                        <div class="row space-point5">
                              
                              <div class="col-sm-5" > 
                                        
                                      0<input type="range"  formControlName="priority"
                                       id="priority" value="0"  [(ngModel)]="project.priority"  
                                       min="0" max="30"  >30
                                       <br />
                                       Select value :{{project.priority}}
                    
                              </div> 
                        </div>
                       
                        <div [hidden]="!(f.priority.errors && f.priority.touched)" >
                              <small  class="text-danger"  >Please provide a priority</small>
                      </div>
                      </div>
                 <br>
                 <div class="col-sm-6">
                        <input type="submit" [disabled]="!addProjectGroup.valid" class="btn btn-primary" value="Add" >&nbsp;&nbsp;
                        <input type="button" class="btn btn-secondary"  value="reset"  (click)="reset();">
                  </div> 
        
                </form>
                <div class="row">
                      <div class="col-sm-5">
              <input type="text" id="searchProject" class="form-control" [(ngModel)]="projectName" placeholder="Search..." />
            </div>
        
            <br>
            <div class="col-sm-6">
              <label class="form-control-static">Sort By:</label>&nbsp;
              <input type="button" value="Start Date" class="btn btn-info" (click)="sortfunction('startDate')" ng-required="true"/>&nbsp;
              <input type="button" value="End Date" class="btn btn-info" (click)="sortfunction('endDate')" />&nbsp;
              <input type="button" value="Priority" class="btn btn-info" (click)="sortfunction('priority')" />
            </div>
                </div>
                <br>
                <div class="row mb-2">
                        <div  class="col-sm-2"><b>Project Name</b></div>
                        <div  class="col-sm-1"><b>Priority</b></div>
                        <div  class="col-sm-2"><b>Start Date</b></div>
                        <div  class="col-sm-2"><b>End Date</b></div>
                        <div  class="col-sm-1"><b>Manager Id</b></div>
                        <div  class="col-sm-2"><b>Manager Name</b></div>
                        <div></div>
                      </div>
        <div *ngFor="let project of projectList | project : projectName :'projectName' ">
                <div class="row mb-2 bg-light">
                    <div  class="col-sm-2">{{project.projectName}}</div>
                    <div  class="col-sm-1">{{project.priority}}</div>
                    <div  class="col-sm-2">{{project.startDate}}</div>
                    <div  class="col-sm-2">{{project.endDate}}</div>
                    <div  class="col-sm-1">{{project.manager.employeeID}}</div>
                    <div  class="col-sm-2">{{project.manager.firstName}}</div>
                    <div class="col-sm-1"> <button type="button" class="btn btn-info btn-sm " data-toggle="modal" data-target="#myModal" (click)="openPopUp(project)">Edit</button></div>
                      <div class="col-sm-1">   <button type="button" class="btn btn-danger btn-sm" (click)="deleteUser(user)" >Delete</button></div>
                  </div>
            </div>
            <br>
            <div class="modal mainpage" tabindex="-1" role="dialog"  [ngStyle]="{'display':display}">
              
                    <div class="modal-dialog" role="document">
        
        
                            <div class="modal-content">
        
                  <div class="modal-header popupHeader">  Edit Project 
                                <button type="button" class="close" aria-label="Close" (click)="closePopUp()"><span aria-hidden="true">&times;</span></button>
                                
                              </div>
        
                                    <div class="modal-body popupBody">
                                        <div class="container">
                                                <form  class="form-group" [formGroup]='EditProjectGroup' (submit)="EditProject()">
                                                        <div class="row">
                                                            <div class="col-sm-4">
                                                              <label for="firstName">Project Name:</label>
                                                              <input  type="text" class="form-control" formControlName='ProjectName' [(ngModel)]="projectTobeEdited.projectName" name="firstName"  required>
                                                              <div [hidden]="!(fa.ProjectName.errors && fa.ProjectName.touched)" >
                                                                    <small  class="text-danger"  > Field is Required ! Please fill in the same </small>
                                                            </div>
                                                            </div>
                                                            <div class="col-sm-4">
                                                                <label for="EmployeeId">Manager:</label>
                                                                <input  type="text" class="form-control" formControlName='manager' [(ngModel)]="projectTobeEdited.manager.employeeID" name="manager"  required>
                                                                <div [hidden]="!(fa.manager.errors && fa.manager.touched)" >
                                                                        <small  class="text-danger"  > Field is Required ! Please fill in the same </small>
                                                                </div>
                                                              </div>
                                                            
                 
                                                            </div>
                                                            <br>
                                                            <div class="row">
                                                                <div class="col-sm-8">
                                                                        <label for="priority">Priority:</label>
                                                                        
                                                                        <div class="row space-point5">
                                                                              
                                                                              <div class="col-sm-8" > 
                                                                                        
                                                                                      0<input type="range"  formControlName="priority"
                                                                                       id="priority" value="0"  [(ngModel)]="projectTobeEdited.priority"  
                                                                                       min="0" max="30"  >30
                                                                                       <br />
                                                                                       Selected  value :{{projectTobeEdited.priority}}
                                                                    
                                                                              </div> 
                                                                        </div>
                                                                       
                                                                        <div [hidden]="!(f.priority.errors && f.priority.touched)" >
                                                                              <small  class="text-danger"  >Please provide a priority</small>
                                                                      </div>
                                                                             
                                                    
                                                             </div>  
                                                        </div> 
                                                             <br>
                                                             <div class="col-sm-6">
                                                                    <input type="submit" [disabled]="!EditProjectGroup.valid" class="btn btn-primary" value="Edit" >&nbsp;&nbsp;
                                                                    <input type="button" class="btn btn-secondary"  value="Cancel"  (click)="closePopUp();">
                                                              </div> 
                                                    
                                                            </form>   
                                        </div>
                                    </div>   
                            </div>
                    </div>
        
        
        
            </div>
        
                     
                    
        
        
         
                 
        
        
        
        
