

   <form  class="form-group" [formGroup]='addTaskFormGroup' (submit)="AddTask()">
    <div class="row mb-2">
      <div class="col-sm-6">
       <label for="projectID">Project:</label>
        <select style="width:100%"  formControlName='projectID' [(ngModel)]="taskData.projectID" name="projectID">
                <option *ngFor="let project of projects" [ngValue]="project.projectID">{{project.project}}</option>
              </select> 
              <small class="text-danger" [class.d-none]="!(f.projectID.errors && f.projectID.touched) " > Field Required </small>
        
      </div>
      <div class="col-sm-6">
        <label for="task">Task:</label>
        <input  type="text" class="form-control" formControlName='task' [(ngModel)]="taskData.task" name="task"  >
        <small class="text-danger" [class.d-none]="!(f.task.errors && f.task.touched) " > Field Required </small>
      </div>
      </div>
      <div class="row mb-2">
          <div class="col-sm-3">
              <input type="checkbox"  [ngModelOptions]="{standalone: true}" [(ngModel)]="isChecked" />Parent Task</div>
      <div class="col-sm-3">
          <label for="priority">Priority</label>
          <input style="width:100%"  type="range"  formControlName='priority' [(ngModel)]="taskData.priority" id="rangePriority" name="priority" max="30" min="0" step="1" value="0" oninput="rangeDisplay.value = rangePriority.value" required>
          <output id="rangeDisplay"></output>
          <small class="text-danger" [class.d-none]="!(f.priority.errors && f.priority.touched) " > Field Required </small>
        </div>
       
          <div class="col-sm-6">
                   <label for="parentTask">Parent Task:</label>
                  <select [disabled]="isChecked" [ngModelOptions]="{standalone: true}"  style="width:100%" [(ngModel)]="taskData.parentTask" name="parentTask">
                          <option *ngFor="let task of tasks" [ngValue]="task.task">{{task.task}}</option>
                        </select>
        </div>
      </div>
      <div class="row mb-2">
            <div class="col-sm-6">
              <label for="startDate">Start Date:</label>
              <input type="date" class="form-control"  formControlName='startDate' [(ngModel)]="taskData.startDate" name="startDate" size="30">
              <small class="text-danger" [class.d-none]="!(f.startDate.errors && f.startDate.touched) " > Field Required </small>
            </div>
            <div class="col-sm-6">
              <label for="endDate">End Date:</label>
              <input type="date" class="form-control"  formControlName='toDate' [(ngModel)]="taskData.endDate" name="endDate" size="30" required>
              <small class="text-danger" [class.d-none]="!(f.toDate.errors && f.toDate.touched) " > Field Required </small>
            </div>
            </div>
            <div class="row mb-2">
                    <div class="col-sm-6">
                            <label for="user">User:</label>
                            <select style="width:100%" [(ngModel)]="taskData.userID" formControlName='user' name="user">
                                    <option *ngFor="let user of users" [ngValue]="user.userID">{{user.firstName}}</option>
                                  </select>
                                  <small class="text-danger" [class.d-none]="!(f.user.errors && f.user.touched) " > Field Required </small>
                      
                    </div>
                    
                    <div class="col-sm-6">
                            <input type="submit" [disabled]="!addTaskFormGroup.valid"  class="btn btn-primary" value="add" >&nbsp;&nbsp;
                            <input type="button"  class="btn btn-secondary"  value="reset"  (click)="resetForm();">
                    </div>
                    </div>
    </form>
   