<!--The content below is only a placeholder and can be replaced.-->
<div class="container coloringBlue">
<div style="text-align:center">
  <h1>
    {{ title }}
    </h1>

    <br>
     <ul class="nav" layout-align="center">
       <li class="nav-item"><a routerLink="AddProject" class="nav-link" routerLinkActive="active-link">Add Project</a></li>
       <li class="nav-item"><a routerLink="AddUser" class="nav-link" routerLinkActive="active-link">Add User</a></li>
       <li class="nav-item"><a routerLink="AddTask" class="nav-link" routerLinkActive="active-link">Add Task</a></li>
       <li class="nav-item"><a routerLink="View" class="nav-link" routerLinkActive="active-link">View Task</a></li>
     </ul>
    <br>
    </div>
    <br>
    <br>
    
<router-outlet></router-outlet>
</div>
